
.custom_top{
    text-align: center;
}

.header_div {
    overflow: hidden;
}
.left_content {
    width: 50%;
    text-align: left;
    float: left;
}

.right_content {
    width: 50%;
    text-align: right;
    float: right;
}

.header_tbl td {
    padding: 2px 20px 4px 2px;
    margin-right: 2px;
    background-color: lightgrey;
}



.order_details {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.order_details td, .order_details th {
    border: 1px solid #ddd;
    padding: 8px;
}

.order_details tr:nth-child(even){background-color: #f2f2f2;}

.order_details tr:hover {background-color: #ddd;}

.order_details th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0f6674;
    color: white;
}